@{
    ViewBag.Title = "Basic";
}
<h2>Hello <span data-bind="text: name"></span></h2>
@section Scripts { @*zabezpeci, ze je JS skript renderovani v casti: @RenderSection("scripts", required: false) v _Layout.cshtml *@
<script>
    function ViewModel() {
        this.name = 'Eric McQuiggan';
    };
    var viewModel = new ViewModel();
    ko.applyBindings(viewModel);
</script>
}